@import "@repo/styles";

.contract-schema-wrapper {
  .contract-schema-container {
    padding: 15px;
    .contract-schema-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 15px;
      .title {
        font-size: 15px;
        color: map-get($grey-colors, "A7A9AC");
      }
    }
    .contract-schema-body {
      margin-top: 10px;
    }
  }
}
