@import "@repo/styles";
@import "../../../../scss/constants";

.contract-console-wrapper {
  .contract-console-container {
    border-left: 1px solid map-get($grey-colors, "light-grey");
    .contract-console-header {
      border-bottom: 1px solid map-get($grey-colors, "light-grey");
      color: map-get($grey-colors, "form-label");
      height: $contract-header-height;
      padding: 5px 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .compile-status {
        .avm-details {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          column-gap: 10px;
          .version {
            font-size: 14px;
          }
          .more-options {
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    .contract-console-body {
      height: calc(100vh - $header-height - $contract-header-height - 50px);
      overflow-y: auto;
      .compile-result {
        .console-tabs {
          margin-bottom: 20px;
          border-bottom: 1px solid map-get($grey-colors, "light-grey");
        }
        .tab-content {
          margin: 20px;
        }
      }
      .compile-error {
        padding: 20px;
        .error {
          margin: 10px 0;
          font-size: 14px;
          line-height: 1.3;
          word-break: break-all;
          .title {
            margin-bottom: 2px;
            font-weight: bold;
          }
          .content {
            color: map-get($grey-colors, "form-label");
          }
        }
      }
    }
  }
}
