@import "@repo/styles";

.bare-call-config-wrapper {
  .bare-call-config-container {
    padding: 5px;
    margin-top: 20px;
    .bare-call-config-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 15px;
      .title {
        font-size: 15px;
        color: map-get($grey-colors, "form-label");
      }
    }
    .bare-call-config-body {
      margin-top: 10px;
    }
  }
}
