@import "@repo/styles";
@import "../../../../scss/constants";

.contract-app-spec-wrapper {
  .contract-app-spec-container {
    .app-spec-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 15px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid map-get($grey-colors, "light-grey");
      .name {
        font-size: 14px;
        color: map-get($grey-colors, "form-value");
      }
    }
    .app-spec-body {
      font-size: 13px;
      word-break: break-all;
      margin-top: 20px;
    }
  }
}
