@import "@repo/styles";
@import "../../scss/constants";

.fiddle-url-wrapper {
  .fiddle-url-container {
    margin: 20px 0;
    width: 250px;
    text-align: center;
    .url {
      font-size: 14px;
      word-break: break-all;
      line-height: 1.3;
      color: map-get($grey-colors, "form-label");
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .actions {
      margin-top: 40px;
    }
  }
}
