@import "@repo/styles";
@import "../../scss/constants";

.share-contract-wrapper {
  .share-contract-container {
    .framework {
      margin-top: 10px;
      display: flex;
      justify-content: flex-start;
      column-gap: 10px;
      align-items: center;
      img {
        width: 20px;
        vertical-align: middle;
        border-radius: 2px;
      }
    }
  }
}
