@import "@repo/styles";

.no-workspaces-wrapper {
  .no-workspaces-container {
    .no-workspaces {
      text-align: center;
      img {
        margin-top: 100px;
        width: 200px;
      }
      .info {
        margin-bottom: 20px;
        color: map-get($grey-colors, "A7A9AC");
        line-height: 1.3;
      }
      .actions {
        display: flex;
        justify-content: center;
        column-gap: 15px;
        align-items: center;
      }
    }
  }
}
