@import "@repo/styles";
@import "../../../scss/constants";

.contract-wrapper {
  .contract-container {
    display: flex;
    width: 100%;
    .contract-editor {
      flex-grow: 7;
    }
    .contract-actions {
      flex-grow: 3;
    }
  }
}
