@import "@repo/styles";
@import "../../scss/constants";

.create-workspace-wrapper {
  .create-workspace-container {
    margin-top: 20px;
    width: 300px;
    margin-bottom: 20px;
    .frameworks {
      display: flex;
      justify-content: flex-start;
      column-gap: 15px;
      align-items: center;
      margin-top: 10px;
      .framework {
        padding: 10px;
        border-radius: 5px;
        width: 80px;
        text-align: center;
        border: 1px solid map-get($grey-colors, "light-grey");
        &.selected {
          background: map-get($grey-colors, "F8F8F9");
        }
        .name {
          margin: 10px 0;
          color: map-get($grey-colors, "A7A9AC");
          font-size: 14px;
        }
        .logo {
          img {
            width: 50px;
            height: 50px;
            border-radius: 10px;
            padding: 5px 0;
          }
        }
      }
    }
  }
}
