@import "@repo/styles";

.contract-program-wrapper {
  .contract-program-container {
    .contract-program-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 15px;
      .title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 15px;
        .name {
          font-size: 14px;
          color: map-get($grey-colors, "form-label");
        }
      }
    }
    .contract-program-body {
      margin-top: 20px;
      .byte {
        font-size: 12px;
        word-break: break-all;
        color: map-get($grey-colors, "form-label");
      }
      .source {
        code {
          white-space: pre-wrap !important;
          word-wrap: break-word;
          font-size: 12px !important;
          background: map-get($grey-colors, "very-light-grey");
          border-radius: 5px;
          padding: 10px;
        }
        > span {
          border-radius: 5px;
        }
      }
    }
  }
}
