@import "@repo/styles";
@import "../../../scss/constants";

.workspace-sidebar-wrapper {
  .workspace-sidebar-container {
    width: 240px;
    height: calc(100vh - $header-height);
    border-right: 1px solid map-get($grey-colors, "light-grey");
    overflow-y: auto;
    .workspace-menu {
      margin-top: 25px;
      .contracts-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
