@import "@repo/styles";
@import "../../../scss/constants";

.workspace-selector-name {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
  align-items: center;
  img {
    width: 15px;
    vertical-align: middle;
    border-radius: 2px;
  }
}

.workspace-selector-wrapper {
  .workspace-selector-container {
    .selected-workspace {
      display: flex;
      justify-content: flex-start;
      column-gap: 10px;
      align-items: center;
      img {
        width: 20px;
        vertical-align: middle;
        border-radius: 2px;
      }
    }
  }
}
