@import "@repo/styles";
@import "../../../../scss/constants";

.contract-editor-wrapper {
  .contract-editor-container {
    height: calc(100vh - $header-height);
    overflow-y: auto;
    background: #fbfcfd;
    .custom-monaco-editor {
      height: 100%;
      * {
        font-family: JetBrainsMono, sans-serif !important;
      }
    }
  }
}
