@import "@repo/styles";
@import "../../../../scss/constants";

.contract-editor-wrapper {
  .contract-editor-container {
    .custom-monaco-editor {
      height: calc(100vh - $header-height - $contract-header-height - 40px);
      background: map-get($grey-colors, "very-light-grey");
      * {
        font-family: JetBrainsMono, sans-serif !important;
        background: map-get($grey-colors, "very-light-grey");
      }
    }
  }
}
