@import '~reset-css/sass/reset';

@mixin font-face($font-name, $font-file-name, $font-format-one: 'ttf', $font-format-two: 'truetype') {
  @font-face {
    font-family: $font-name;
    src: url('assets/fonts/Rubik/static/#{$font-file-name}.ttf') format($font-format-one),
    url('assets/fonts/Rubik/static/#{$font-file-name}.ttf') format($font-format-two);
  }
}

@include font-face('Rubik', 'Rubik-Regular');
@include font-face('RubikLight', 'Rubik-Light');
@include font-face('RubikLightThin', 'Rubik-Light');
@include font-face('RubikBold', 'Rubik-Bold');

body {
  font-family: "Rubik", sans-serif;
}

* {
  font-family: "Rubik", sans-serif !important;
}