@import "@repo/styles";
@import "../../scss/constants";

.header-wrapper {
  .header-container {
    border-bottom: 1px solid map-get($grey-colors, "light-grey");
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    .left-section {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      column-gap: 3px;
      .logo {
        width: $left-panel-width;
        .logo-container {
          margin-left: 32px;
          color: map-get($base-colors, "black");
          font-size: 18px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          column-gap: 5px;
          img {
            width: 100px;
          }
        }
      }
      .workspaces-title {
        color: map-get($grey-colors, "form-label");
        font-size: 16px;
      }
    }
    .right-section {
      padding: 0 20px;
      .actions {
      }
    }
  }
}
