@import "@repo/styles";
@import "../../../../scss/constants";

.contract-client-wrapper {
  .contract-client-container {
    padding: 20px;
    background: map-get($grey-colors, "very-light-grey");
    border: 1px solid map-get($grey-colors, "light-grey");
    border-radius: 10px;
    margin-top: 20px;
    .client-body {
      .error-msg {
        font-size: 14px;
        color: map-get($grey-colors, "form-value");
      }
      .client-code-details {
        .client-code {
          font-size: 14px;
          color: map-get($grey-colors, "form-label");
          display: flex;
          justify-content: flex-start;
          column-gap: 5px;
          align-items: center;
        }
        .client-code-actions {
          margin-top: 15px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          column-gap: 10px;
        }
      }
    }
  }
}

.client-code-ts-wrapper {
  .client-code-ts-container {
    .source {
      code {
        white-space: pre-wrap !important;
        word-wrap: break-word;
        font-size: 12px !important;
        background: map-get($grey-colors, "very-light-grey");
        border-radius: 5px;
        padding: 10px;
      }
      > span {
        border-radius: 5px;
      }
    }
  }
}
