@import "@repo/styles";
@import "../../scss/constants";

.playground-wrapper {
  .playground-container {
    .playground-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      border-bottom: 1px solid map-get($grey-colors, "light-grey");
      .title {
        font-size: 16px;
        color: map-get($grey-colors, "A7A9AC");
      }
      .actions {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 15px;
        .close {
          color: map-get($grey-colors, "form-label");
        }
      }
    }
    .playground-body {
      .app-spec {
        .app-spec-header {
          border-bottom: 1px solid map-get($grey-colors, "light-grey");
          padding: 10px 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .contract-title {
            font-size: 14px;
            color: map-get($grey-colors, "A7A9AC");
          }
        }
        .app-spec-actions {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          column-gap: 15px;
          .app-id {
            font-size: 15px;
          }
          .greyed {
            color: map-get($grey-colors, "A7A9AC");
          }
        }
      }
    }
  }
}
