@import "@repo/styles";

.contract-programs-wrapper {
  .contract-programs-container {
    .section {
      &:not(:first-child) {
        margin-top: 40px;
      }
      .title {
        font-size: 15px;
        color: map-get($grey-colors, "form-label");
        margin-bottom: 10px;
      }
      .desc {
        font-size: 13px;
        line-height: 1.3;
        color: map-get($grey-colors, "A7A9AC");
        margin-bottom: 10px;
      }
      .actions {
      }
    }
  }
}
