@import "@repo/styles";

.abi-method-wrapper {
  .abi-method-container {
    .abi-method {
      margin-top: 10px;
      border: 1px solid map-get($grey-colors, "light-grey");
      border-radius: 5px;
      .accordion {
        box-shadow: none;
      }
      .method-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 10px;
        .method-name {
          font-size: 14px;
        }
      }
      .method-body {
        .method-title {
          font-weight: bold;
          margin: 15px 0;
        }
        .method-tabs {
          border-bottom: 1px solid map-get($grey-colors, "light-grey");
          margin-bottom: 20px;
        }

        .method-section {
          margin-top: 20px;
          .method-section-title {
            font-size: 14px;
            color: map-get($grey-colors, "form-value");
          }
          .method-section-value {
            margin-top: 10px;
            .empty {
              font-size: 13px;
              color: map-get($grey-colors, "form-label");
            }
          }
        }
      }
    }
  }
}
