@import "@repo/styles";
@import "../../../../scss/constants";

.contract-header-wrapper {
  .contract-header-container {
    padding: 5px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    border-bottom: 1px solid map-get($grey-colors, "light-grey");
    height: $contract-header-height;
    background: map-get($grey-colors, "very-light-grey");
    .contract-name-container {
      .contract-name {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 10px;
        margin-left: 10px;
        color: map-get($grey-colors, "form-label");
        font-size: 14px;
        .edit-name {
          font-size: 14px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .contract-actions {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      column-gap: 15px;
      .compiler {
        color: map-get($grey-colors, "form-label");
        font-size: 13px;
      }
    }
  }
}
